.about {
    color: var(--black);
    width:70%;
    margin: auto;
    margin-top: 15vh;
    height: 90vh;
    padding-top: 10vh;
}

.about-header {
    text-align: left;
}

.about-content {
    display: flex;
}

.about-text {
    text-align: left;
    margin: 10px;
}

.about-img {
    margin: 10px;   
}

.about-img img{
    margin: 0;
    padding: 0;
    /* border: 1px solid var(--black);
    border-radius: 15px; */
}

.about-stack {
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

.about-stack-left {
    margin-right: 15%;
    margin-top: 0;
    padding-top: 0;
}

.about-stack-right {
    margin-left: 15%;
    margin-top: 0;
    padding-top: 0;
}


@media (max-width: 480px) {
    .about {
        color: var(--black);
        width:90%;
        margin: auto;
        margin-top: 15vh;
        height: 70vh;
    }
    
    .about-header {
        text-align: left;
    }
    .about-header h1 {
        font-size: 45px;
    }
    
    .about-content {
        display: inline;
    }
    
    .about-text {
        font-size: 15px;
        text-align: left;
        margin: 10px;
    }
    
    .about-img {
        margin: 10px;   
    }
    
    .about-img img{
        width: 40%;
        /* border: 1px solid var(--black);
        border-radius: 15px; */
    }
}